.item {
	display: inline-flex;
}

.item-width {
	width: 190px;
}

.brand-name {
	font-size: 12px;
}

.product-name {
	font-size: 16px;
}

.packing-detail {
	font-size: 14px;
}

.price {
	font-size: 15px;
}